<header class="header">

    <div class="logo-section">

        <div class="logo-icon">
            📸
        </div>

        <div class="logo-text">
            PicStory
        </div>

    </div>

    <nav class="nav-links">

        <a routerLink="/dashboard" routerLinkActive="active-link">

            Dashboard

        </a>

        <a routerLink="/users" routerLinkActive="active-link">

            Users

        </a>

        <button class="logout-btn" (click)="logout()">

            Logout

        </button>

    </nav>

</header>